@charset "UTF-8";

/**
 * @author Prenom Nom <courriel>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations
 *** Niveau 1 - Accueil
 *** Niveau 1 - Rose des vents
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Texte
 */

/* Charte typographique
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h1 {
    font-family: Cormorant Garamond;
    font-size: 27px;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
nav {
    font-family: Open Sans;
    font-size: 24px;
    text-transform: uppercase;
}

/* Styles de base
   ========================================================================== */


body {
    color: #1D1D1D;
    background-color: #1D1D1D;
}

blockquote {
    margin: 0;
}

/* Base mise en page
   ========================================================================== */
body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

main.conteneur {
    min-height: 80vh;
    min-width: 375px;
}


footer {
    bottom: 0;
    width: 100%;
    z-index: 5;
    color:
}

header {
    margin-top: 3rem;
    background-color: rgba(48, 48, 48, 0.8);;
    position: fixed;
    width: 100%;
    z-index: 5;

}

/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: #888988;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav--menu{
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.085em;
    line-height: 3.5rem;
}

.nav--menu .nav__link {
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media (min-width: 600px) {
    .nav--menu .nav__link {
        margin: 0 2rem;
    }
}

.nav--menu .nav__link:hover {
    color: #E2C52E;
}

.nav--menu .nav__link--active {
    color: #E2C52E;
}

.pagination{
    margin: 1rem;
}
.pagination span{
    color: #a0a0a0;
    font-size: smaller;
}

/* Bouton Rose des Vents */
#rose{
    width:50px;
    animation: pulse 3s infinite ease-in-out;
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#branche_oblique_bd:hover path,
circle:hover,
#branche_verticale_bas:hover path,
#branche_oblique_hd:hover path,
#branche_oblique_bg:hover path,
#branche_horizontale_droite:hover path,
#branche_horizontale_gauche:hover path,
#branche_verticale_haut:hover path,
#branche_oblique_hg:hover path
{
    fill: #D4AC0D;
}

/* Niveau 1 - Accueil
   ================== */
.accueil  main {
    margin-top: 20rem;
    color: #fff;
}

.accueil main .anticoste {
    /*width: 60%;*/
    /*margin-left: 40%;*/
}
.accueil  .anticoste img {
    margin-left: -25%;
    float: left;
    margin-right: 2rem;
}

.accueil .anticoste p {
    width: 60%;
    margin-left: 40%;
    margin-top: 0;
    color: #888988;
}

.accueil h1 {
    width: 60%;
    margin-left: 40%;
    text-align: left;
    justify-content: flex-start;
    font-size: 9rem;
    line-height: 9rem;
}

.accueil .h3 {
    font-size: 13rem;
    line-height: 7rem;
    color: rgba(167, 147, 41, 0.2);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.accueil .terre-maudite {
    margin-top: 7rem;
    margin-left: -20%;
}

.accueil .paradis {
    display: flex;
    justify-content: flex-end;
    margin-right: -20%;
    margin-bottom: 7rem;
}

.accueil .sept-recits-numeriques {
    width: 60%;
    margin-left: 20%;
}

.accueil .sept-recits-numeriques p {
    color: #888988;
}

.accueil h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    margin: 0;
}

.accueil .sept-recits {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}
.accueil .mythiques {
    margin-bottom: 7rem;
    display: flex;
    justify-content: flex-start;
    margin-left: -13%;
}

.accueil .experience-immersive ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
}

.accueil .experience-immersive ul li {
    /*float: right;*/
    padding: 2rem;
    padding-left: 0;
    margin: 0;
}

.accueil footer {
    background-color: #454545;
    border-top: 5px solid #E2C52E;
}

.accueil footer nav {
    margin-top: 3rem;
    font-size: 1.7rem;
}

.accueil footer nav .nav__link {
    color: #B6B6B6;
}

.accueil footer p {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}



/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m22/iii-rosebg-m22_2x.png");
    background-size: cover;
}



/* navigation vers les récits */
.nav--recits {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
}

.nav--recits picture {
    position: absolute;
    width: 65%;
    z-index: -1;
    margin-top: 0;
}

.nav--recits .nav__link {
    color: #c8a78c;
    text-decoration: none;
    font-size: 3.5rem;
    line-height: 6.5rem;
}

.nav--recits .nav__list {
    width: 55%;
    margin-left: 45%;
    margin-top: 15rem;
}
@media (min-width: 600px) {
    .nav--recits .nav__link {
        color: #fff;
        text-align: left;
    }
}
.nav--recits .nav__link:hover {
    color: #E2C52E;
}

.nav--recits .recit2, .nav--recits .recit7 {
    margin-left: 10%;
}
.nav--recits .recit3, .nav--recits .recit6 {
    margin-left: 20%;
}
.nav--recits .recit4, .nav--recits .recit5 {
    margin-left: 25%;
}


/* Niveau 1 - Crédits
   ========================================================================== */
.credits main {
    background-image: url("../images/m22/iii-credits-m22_2x.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2rem;
    padding-left: 5rem;
}

.credits h1 {
    justify-content: flex-start;
    font-size: 4.8rem;
}

.credits h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-top: 1.5rem;
}

.credits p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    line-height: 2.2rem;
}

.credits ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2rem;
    margin: 0;
    line-height: 2.2rem;
    text-decoration: none;
    list-style-type: none;

}

.credits ul {
    padding: 0;
    margin: 0;
}

.credits .list_recits {
    margin-top: 2rem;
}

.credits .logo {
    margin-left: 70%;
    margin-top: -10%;
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre {
    background-color: #fff;
}

.titre h1 {
    color: #000;
}

.titre footer span {
    color: #434343;
}



/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img {
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

figure {
    position: relative;
    margin: 0;
}

.photo figure {
    /*margin-bottom: 10rem;*/
}

.photo figcaption {
    color: aliceblue;
    background-color: rgba(136, 137, 136, 0.85);
    padding: 2rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width: 80%;
        bottom: 0;
        opacity: 0;
    }

    .photo figcaption:hover {
        opacity: 0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

figcaption h2 {
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

figcaption p {
    color: #2D2D2D;
    margin-top: 0;
    margin-bottom: 0;
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte {
    background-image: url("../demo-recit/images/i-txt-m99_600.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.texte__contenu blockquote p {
    font-family: 'Open Sans', sans-serif;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 15%;
    font-size: 1.7rem;
}

@media (min-width: 600px) {
    .texte {
        background-image: url("../demo-recit/images/i-txt-m99_1000.jpg");
    }
}

@media (min-width: 1000px) {
    .texte {
        background-image: url("../demo-recit/images/i-txt-m99_2000.jpg");
    }
}

.texte .rangee {
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 0;
}

.texte__infos {
    color: aliceblue;
    background-color: rgba(136, 137, 136, 0.85);
    padding: 2rem;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 0;
}

.texte__infos h2 {
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}
.texte__infos p {
    color: #2D2D2D;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .texte__infos {
        bottom: 0;
        opacity: 0;
    }

    .texte__infos:hover {
        opacity: 0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}
