@charset "UTF-8";

/**
 * @author Prenom Nom <courriel>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations de l'interface (bandeau + pied)
 *** Niveau 1 - Accueil
 *** Niveau 1 - Rose des vents
 ****** navigation vers les récits
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Texte
 */

/* Charte typographique
   ========================================================================== */
h1 {
    font-family: Zapfino;
    color: #FFFAF3;
}
.titre-accueil {
    color: black;
    border-bottom: solid 3px black;
}
.h4 {
    color: black;
}
.pagination{
    font-family: Zapfino;
}

/* Styles de base
   ========================================================================== */
body{
    color: aliceblue;
    background-color: #FFFAF3;
}
blockquote{
    margin:0;
}

/* Grille de mise en page
   ========================================================================== */
body{
    background-color: #FFFAF3;
    display: flex;
    flex-flow:column wrap;
    min-height: 100vh;
}
main.conteneur{
    min-height: 80vh;
    min-width: 375px;
}
header,
footer {
    color: aliceblue;
    background-color: #FFFAF3;
    position: fixed;
    width: 100%;
    z-index: 5;
}
footer {
    bottom: 0;
}
header{
    top: 0;
}
/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    color: #657453;
    border-bottom: solid 2px #657453;
    display: flex;
    justify-content: center;
    margin:0;
}

.nav--menu .nav__link {
    color: #657453;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: 5px solid transparent;

}
@media (min-width: 600px) {
    .nav--menu .nav__link {
        font-size: 1.6rem;
        margin: 0 2rem;
    }
}
.nav--menu .nav__link:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: #B9D398;
}
.compass {
    fill: #657453;
    width: 40px;
    height: 40px;
}

.compass:hover {
    transition: 0.5s;
    fill: #B9D398;
}
.nav--menu .switch:hover {
    transform: scale(2.25);
    text-decoration: none;
    transition: all 0.3s;
}
.nav--menu .nav__link--active {
    color:#B9D398;
    background: #657453;
    /* tests et code du dégradé faits avec https://cssgradient.io/ */
    /*background-color: #434343;*/
}
.pagination{
    display: inline-block;
    margin:1rem;
}
/* Niveau 1 - Accueil
   ================== */
.accueil__contenu {
    margin-left: 7rem;
    margin-right: 7rem;
}
.main-accueil {
    margin: 6rem 1rem 6rem 1rem;
    color: black;
}
.h2-accueil, .h3-accueil {
    text-align: center;
}
.h3-accueil {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.accueil_rose-des-vents {
    text-decoration: none;
    color: #657453;
}
.accueil_rose-des-vents:hover {
    text-decoration: underline;
    color: #B9D398;
    font-size: 2rem;
    transition: font-size 0.5s;
}
.pied-de-page {
    color: #FFFAF3;
    background-color: #657453;
    position: relative;
    border-bottom: none;
    padding: 5rem 3rem;
    text-align: center;
}
.optionnel-mobile{
    display: none;
}
.images-accueil{
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 600px) {
    .main-accueil {
        margin: 10rem 25rem 10rem 25rem;
    }
    .optionnel-mobile{
        display: flex;
    }
}
/* Niveau 1 - Crédits
   ================== */
.h1-credits {
    color: black;
    border-bottom: solid 3px black;
    font-size: 1.2em;
}
.h2-credits {
    text-align: center;
}
.main-credits {
    margin: 10rem 1rem 0 1rem;
    color: black;
    padding-bottom: 5rem;
}
.logo_fondRecherche{
    width: 20rem;
}
a {
    color: #657453;
}
a:hover {
    color: #B9D398;
    transition: color 0.5s;
}
@media (min-width: 600px) {
    .main-credits {
        margin: 10rem 25rem 10rem 25rem;
    }
    .logo_fondRecherche{
        width: 30rem;
    }
    .h1-credits{
        font-size: 2.4em;
    }
}

/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m19/cartev2_noir-blanc.jpg");
    background-size: cover;
    padding-top: 5rem;
}
.rose-des-vents .conteneur{
    padding-top:70px;
}
/* navigation vers les récits */
.nav--recits {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
@media (min-width: 600px) {
    .nav--recits {
        display: flex;
        justify-content: center;
    }
}
.nav--recits .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 13%;
    min-height: 60vh;
}
@media (min-width: 600px) {
    .nav--recits .nav__list {
        min-height: auto;
        padding-left: 0;
        margin-right: 2%;
    }
}

.nav--recits picture {
    position: absolute;
    top: 40px;
    opacity: 0.15;
}

@media (min-width: 600px) {
    .nav--recits picture {
        position: static;
        opacity: 0.65;
    }
}

.nav--recits .nav__link {
    color: #657453;
    text-decoration: none;
    display: block;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
    min-width: 30rem;
    text-align: center;
    line-height: 5rem;
}

@media (min-width: 600px) {
    .nav--recits .nav__link {
        text-align: right;
        line-height: 3rem;
    }
}

.nav--recits .nav__link:hover {
    text-decoration: underline;
    color: #B9D398; /* la dominante dans la main */
    font-size: 2.15rem;
    background-image: url("../recit-6/images/compass-symbol-survol.svg");
    background-position: right;
    background-size: 3rem;
    background-repeat: no-repeat;
    transition: font-size 0.5s;
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre h1{
    font-size:5vh;
    padding-top: 5rem;
}
@media (min-width: 600px) {
    .titre h1{
        font-size:10vh;
        padding: 0;
    }
}
.video__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img{
    /*max-width: 90%;*/
}
figure{
    position: relative;
    margin:0;
}
.photo figure{
    margin-bottom:10rem;
}
.photo figcaption {
    color: black;
    background-color: #FFFAF3;
    padding: 2rem;
}
@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width:100%;
        bottom:0;
        opacity:0;
    }
    .photo figcaption:hover {
        opacity:0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte{
    background-image: url("../recit-6/images/vi-txt-m25.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.texte .rangee{
    justify-content: center;
    align-items: center;
    color:#000;
}
.texte__contenu{
    padding: 70px 2rem;
    font-size:1.8rem;
}
blockquote{
    text-shadow: 2px 2px 5px darkgray;
}
@media (min-width: 600px) {
    .texte__contenu{
        font-size:2.1rem;
    }
}
.texte__infos{
    color: #FFFAF3;
    background-color: #657453;
    font-size: 1.6rem;
    padding: 1rem;
}
@media (min-width: 600px) {
    .texte__infos{
        color: transparent;
        background-color:transparent;
        cursor: help;
    }
    .texte__infos:hover{
        color: black;
        transition:color 0.5s;
    }
}
