@charset "UTF-8";

/**
 * @author Daphnee Martel <2061698@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations de l'interface (bandeau + pied)
 *** Niveau 1 - Accueil
 *** Niveau 1 - Rose des vents
 ****** navigation vers les récits
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Texte
 */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(grille.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


:root {
    /** Démo variables [m99] **/
    /* les caractères */
    --m15-fonte-principale: 'Open Sans', sans-serif;
    --m15-fonte-titres: 'Cormorant Garamond', serif;
    /* les couleurs */
    --m15-couleur-background: #1D1D1D;
    --m15-couleur-principale: #454545;
    --m15-couleur-texte-acceuil: #888988;
    --m15-couleur-texte-recits-etTOUT-titre: #ffffff;
    --m15-couleur-lumiere: #E2C52E;
    /* les tailles */
    --m15-fontSize-interface-small: 1.6rem;
    --m15-fontSize-interface-large: 1.8rem;
    --m15-fontSize-recit-texte-small: 1.7rem;
    --m15-fontSize-recit-texte-large: 2.5rem;
    --m15-fontSize-recit-legende-small: 1.8rem;
    --m15-fontSize-recit-legende-large: 2rem;
    --m15-fontSize-recit-h1-titre-small: 8.4rem;
    --m15-fontSize-recit-h1-titre-large: 9.6rem;
    --m15-fontSize-recit-h2-titre-small: 3rem;
    --m15-fontSize-recit-h2-titre-large: 4.8rem;
    --m15-fontSize-recit-h3-titre-small: 2.7rem;
    --m15-fontSize-recit-h3-titre-large: 2.7rem;
    /* bordures, coins ronds, divers */
    --m99-borderRadius: 10px;
}

/* Charte typographique
   ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3{
    font-family: 'Cormorant Garamond', serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}


body {
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
}
@media (min-width: 600px) {
    body {
        line-height: 1.5;
    }
}
@media (min-width: 800px) {
    body {
        line-height: 1.75;
    }
}

h1,
.h1 { /* = 84px */
    font-size: 8.4rem;
}
@media (min-width: 600px) {
    h1,
    .h1 { /* = 84px */
        font-size: 8.4rem;
    }
}
@media (min-width: 800px) {
    h1,
    .h1 { /* = 96px */
        font-size: 9.6rem;
    }
}

h2,
.h2 { /* = 30px */
    font-size: 3rem;
}
@media (min-width: 600px) {
    h2,
    .h2 { /* = 30px */
        font-size: 3rem;
    }
}
@media (min-width: 800px) {
    h2,
    .h2 { /* = 48px */
        font-size: 4.8rem;
    }
}

h3,
.h3 { /* = 27px */
    font-size: 2.7rem;
    text-align: center;
    margin-block-start: 0;
}
@media (min-width: 600px) {
    h3,
    .h3 {  /* = 27px */
        font-size: 2.7rem;
    }
}
@media (min-width: 800px) {
    h3,
    .h3 { /* = 27px */
        font-size: 2.7rem;
    }
}

h4,
.h4 { /* = 16px */
    font-size: 1.6rem;
}
@media (min-width: 600px) {
    h4,
    .h4 { /* = 18px */
        font-size: 1.8rem;
    }
}

@media (min-width: 800px) {
    h4,
    .h4 { /* = 22px */
        font-size: 2.2rem;
    }
}

/* Styles de base
   ========================================================================== */
body{
    color: #ffffff;
    background-color: #000;
}
blockquote{
    margin:0;
}

/* Grille de mise en page
   ========================================================================== */
body{
    display: flex;
    flex-flow:column wrap;
    min-height: 100vh;
    background-color: #1D1D1D;
}
main.conteneur{
    min-height: 80vh;
    min-width: 375px;
}
header,
footer {
    color: #ffffff;
    background-color: #1D1D1D;
    position: fixed;
    width: 100%;
    z-index: 5;
}
footer {
    bottom: -2rem;
}
header{
    top: 100px;
    background-color: rgba(48, 48, 48, 0.8);

}
/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: flex;
    justify-content: center;
    margin:0;
}

.nav--menu .nav__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: aliceblue;
    display: inline-block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: 5px solid transparent;
}
@media (min-width: 600px) {
    .nav--menu .nav__link {
        font-size: 2.4rem;
        margin: 0 2rem;
    }
}
.nav--menu .nav__link:hover {
    color: var(--m15-couleur-lumiere);
}
.nav--menu .switch:hover {
    transform: scale(2.25);
    text-decoration: none;
    transition: all 0.3s;
}
.nav--menu .nav__link--active {

    color: var(--m15-couleur-lumiere);
    /*border-bottom: 5px solid #ecf4f8;*/
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    /*background: rgb(236,244,248);*/
    /* tests et code du dégradé faits avec https://cssgradient.io/ */
    /*background: linear-gradient(0deg, rgba(236,244,248,1) 0%, rgba(157,177,194,1) 3%, rgba(67,67,67,1) 30%);*/
    /*background-color: #434343;*/
}
.pagination{
    display: inline-block;
    margin:1rem;

}
/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m15/ii-00BG-m15_1440.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 1110px){
    .rose-des-vents {
        background-size: contain;
    }
}
.rose-des-vents .conteneur{
    padding-top:70px;
}
/* navigation vers les récits */
.nav--recits {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 4.8rem;
}
@media (min-width: 600px) {
    .nav--recits {
        font-size: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.nav--recits .nav__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 13%;
    min-height: 85vh;
}
@media (min-width: 600px) {
    .nav--recits .nav__list {
        /*min-height: auto;*/
        padding-left: 0;
        margin-right: 2%;
    }
}

.nav--recits picture {
    /*position: absolute;*/
    top: 200px;
    opacity: 0.25;
}

@media (min-width: 600px) {
    .nav--recits picture {
        position: static;
        opacity: 0.85;
    }
}

.nav--recits .nav__link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-right: 4rem;
    font-size: 2rem;
    min-width: 30rem;
    text-align: center;
    line-height: 4rem;

}
@media (min-width: 600px){
    .nav--recits .nav__link {
        font-size: 3rem;
        text-align: center;
        line-height: 5rem;
    }
}

@media (min-width: 1250px){
    .nav--recits .nav__link {
        font-size: 4.8rem;
        text-align: right;
        line-height: 7rem;
    }
}

.nav--recits .nav__link:hover {
    color: #E2C52E; /* la dominante dans la main */
    font-size: 2.5rem;
    background-position: center;
    background-size: 3.5rem;
    background-repeat: no-repeat;
    transition: font-size 0.3s;
}
@media (min-width: 600px){
    .nav--recits .nav__link:hover {
        font-size: 3.5rem;
        background-position: right;
    }
}

@media (min-width: 1250px){
    .nav--recits .nav__link:hover {
        font-size: 5rem;
        background-position: right;
    }
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre h1{
    font-size:5vh;
    padding-top: 5rem;
}
@media (min-width: 600px) {
    .titre h1{
        font-size:10vh;
        padding: 0;
    }
}
.video__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Niveau 2 - Gabarit page Photo
   ========================================================================== */
.photo img{
    max-width: 100%;
}
figure{
    position: center;
    margin-top: 190px;
}
.photo figure{
    margin-bottom:10rem;
}
.photo figcaption {
    color: #ffffff;
    background-color: rgba(136, 137, 136, 0.6);
    padding: 2rem;
}
@media (min-width: 600px) {
    .photo figcaption {
        width:100%;
        bottom:0;
        opacity:0;
    }
    .photo figcaption:hover {
        opacity:0.85;
        transition: opacity 0.5s;
        cursor: help;
    }
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte{
    background-image: url("../recit-2/images/ii-txt-m15_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.texte .rangee{
    justify-content: flex-end;
    color: var(--m15-couleur-texte-recits-etTOUT-titre);
}
.texte__contenu{
    padding: 175px 4rem;
    font-size: var(--m15-fontSize-recit-texte-small);
}
@media (min-width: 700px) {
    .texte__contenu{
        font-size: var(--m15-fontSize-recit-texte-large);
    }
}
.texte__infos{
    color: #2D2D2D;
    background-color: rgba(136, 137, 136, 0.6);
    font-size: 1.8rem;
    padding: 1rem;
}
@media (min-width: 600px) {
    .texte__infos{
        color: transparent;
        background-color:transparent;
        cursor: help;
    }
    .texte__infos:hover{
        color: #2D2D2D;
        transition:color 0.5s;
        background-color: rgba(136, 137, 136, 0.6);
    }
}
