/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";

/**
 * @author Prenom Nom <courriel>
 *
 * TABLE DES MATIERES
 * Charte typographique
 * Styles de base
 * Grille de mise en page
 * Navigations
 *** Niveau 1 - Accueil
 *** Niveau 1 - Rose des vents
 *** Niveau 1 - Crédits
 *** Niveau 2 - Gabarit page Titre
 *** Niveau 2 - Gabarit page Photo
 *** Niveau 2 - Gabarit page Texte
 */

/* Charte typographique
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h1 {
    font-family: Cormorant Garamond;
    font-size: 27px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
nav {
    font-family: Open Sans;
    font-size: 24px;
    text-transform: uppercase;
}

/* Styles de base
   ========================================================================== */


body {
    color: #1D1D1D;
    background-color: #1D1D1D;
}

blockquote {
    margin: 0;
}

/* Base mise en page
   ========================================================================== */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    min-height: 100vh;
}

main.conteneur {
    min-height: 80vh;
    min-width: 375px;
}


footer {
    bottom: 0;
    width: 100%;
    z-index: 5;
    color:
}

header {
    margin-top: 3rem;
    background-color: rgba(48, 48, 48, 0.8);;
    position: fixed;
    width: 100%;
    z-index: 5;

}

/* Navigations de l'interface (bandeau + pied)
   ========================================================================== */
/* commun aux différentes navigations - balises nav>ul.nav__list */
.nav__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: #888988;
}

/* navigations menu principal*/
.nav--menu .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}
.nav--menu{
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.085em;
    line-height: 3.5rem;
}

.nav--menu .nav__link {
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media (min-width: 600px) {
    .nav--menu .nav__link {
        margin: 0 2rem;
    }
}

.nav--menu .nav__link:hover {
    color: #E2C52E;
}

.nav--menu .nav__link--active {
    color: #E2C52E;
}

.pagination{
    margin: 1rem;
}
.pagination span{
    color: #a0a0a0;
    font-size: smaller;
}

/* Niveau 1 - Accueil
   ================== */
.accueil  main {
    margin-top: 20rem;
    color: #fff;
}

.accueil .anticoste img {
    float: none;
}
@media (min-width: 600px) {
    .accueil .anticoste img {
        margin-left: -25%;
        float: left;
        margin-right: 2rem;
    }
}
.accueil .anticoste p {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 0;
    color: #888988;
}

.accueil h1 {
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 8rem;
    line-height: 9rem;
}

@media (min-width: 600px) {
    .accueil .anticoste p {
        width: 60%;
        margin-left: 40%;
    }

    .accueil h1 {
        width: 60%;
        margin-left: 40%;
        text-align: left;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 9rem;
        line-height: 9rem;
    }
}



.accueil .h3 {
    font-size: 8rem;
    line-height: 4rem;
    color: rgba(167, 147, 41, 0.2);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.accueil .terre-maudite {
    margin-top: 7rem;
    margin-left: 0;
    text-align: center;
}

.accueil .paradis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 7rem;
}

@media (min-width: 600px) {
    .accueil .h3 {
        font-size: 13rem;
        line-height: 7rem;
        text-align: left;
    }
    .accueil .terre-maudite {
        margin-left: -20%;
    }

    .accueil .paradis {
        margin-right: -20%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}


.accueil .sept-recits-numeriques {
    width: 100%;
}

@media (min-width: 600px) {
    .accueil .sept-recits-numeriques {
        width: 60%;
        margin-left: 20%;
    }
}

.accueil .sept-recits-numeriques p {
    color: #888988;
    padding-left: 2.5%;
}

.accueil h2 {
    width: 95%;
    padding-left: 2.5%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

@media (min-width: 600px){
    .accueil .sept-recits-numeriques p {
        padding-left: 0;
    }

    .accueil h2 {
        width: 100%;
        padding-left: 0;
        font-size: 4.5rem;
        line-height: 5rem;
        text-align: left;
    }
}

.accueil .sept-recits {
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.accueil .mythiques {
    margin-bottom: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
}

@media (min-width: 600px) {
    .accueil .sept-recits {
        text-align: left;
    }

    .accueil .mythiques {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: -13%;
    }
}

.accueil .experience-immersive ul {
    width: 60%;
    margin-left: 20%;
    list-style-type: none;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0;
    color: #888988;
}

.accueil .experience-immersive ul li {
    /*float: right;*/
    padding: 2rem;
    padding-left: 0;
    margin: 0;
}

@media (min-width: 600px) {
    .accueil .experience-immersive ul {
        padding: 0;
        width: 100%;
        margin-left: 0;
    }
}

.accueil footer {
    background-color: #454545;
    border-top: 5px solid #E2C52E;
}

.accueil footer nav {
    margin-top: 3rem;
    font-size: 1.7rem;
}

.accueil footer nav .nav__link {
    color: #B6B6B6;
}

.accueil footer p {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}



/* Niveau 1 - Rose des vents
   ================== */
.rose-des-vents {
    background-image: url("../images/m22/iii-rosebg-m22_2x.png");
    background-size: cover;
}



/* navigation vers les récits */
.nav--recits {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
}


.nav--recits picture {
    position: absolute;
    width: 200%;
    z-index: -1;
    margin-top: 20rem;
    margin-left: -20%;
}
@media (min-width: 600px) {
    .nav--recits picture {
        width: 65%;
        margin-top: 0;
    }
}

.nav--recits .nav__link {
    text-decoration: none;
    font-size: 3.5rem;
    line-height: 4rem;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
}

@media (min-width: 600px) {
    .nav--recits .nav__link {

        text-align: left;
        line-height: 6.5rem;
    }
}

.nav--recits .nav__list {
    width: 80%;
    margin-left: 10%;
    margin-top: 20rem;
}
@media (min-width: 600px){
    .nav--recits .nav__list {
        width: 55%;
        margin-left: 45%;
    }
}

.nav--recits .nav__link:hover {
    color: #E2C52E;
}

@media (min-width: 600px) {
    .nav--recits .recit2, .nav--recits .recit7 {
        margin-left: 10%;
    }

    .nav--recits .recit3, .nav--recits .recit6 {
        margin-left: 20%;
    }

    .nav--recits .recit4, .nav--recits .recit5 {
        margin-left: 25%;
    }
}


/* Niveau 1 - Crédits
   ========================================================================== */
.credits main {
    background-image: url("../images/m22/iii-credits-m22_2x.jpg");
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    margin-top: 20rem;
    margin-bottom: 10%;
    padding: 2rem;
    padding-left: 5rem;
}

@media (min-width: 600px) {
    .credits main {
        background-size: 150%;
        margin-top: 10%;
    }
}

.credits h1 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 4.3rem;
    margin-top: -8rem;
}

@media (min-width: 600px) {
    .credits h1 {
        margin-top: 0;
        font-size: 4.8rem;
    }
}

.credits h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin: 0;
    margin-top: 1.5rem;
}


.credits p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.7rem;
    margin: 0;
    line-height: 2.5rem;
}
@media (min-width: 600px) {
    .credits p {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}

.credits ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.7rem;
    margin: 0;
    line-height: 2.5rem;
    text-decoration: none;
    list-style-type: none;

}
@media (min-width: 600px) {
    .credits ul li {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}

.credits ul {
    padding: 0;
    margin: 0;
}

.credits .list_recits {
    margin-top: 2rem;
}

.credits .logo {
    margin-left: 25%;
    margin-top: 5rem;
}
@media (min-width: 600px) {
    .credits .logo {
        margin-left: 70%;
        margin-top: -10%;
    }
}

/* Niveau 2 - Gabarit page Titre
   ========================================================================== */
.titre .rangee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.titre {
    background-color: #fff;
}

.titre h1 {
    color: #000;
}

.titre footer span {
    color: #434343;
}



/* Niveau 2 - Gabarit page Photo
   ========================================================================== */


.photo img {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30%;
}

@media (min-width: 600px) {
    .photo img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }
}

figure {
    position: relative;
    margin: 0;
}


.photo figcaption {
    color: aliceblue;
    background-color: rgba(136, 137, 136, 0.85);
    padding: 2rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 600px) {
    .photo figcaption {
        position: absolute;
        width: 80%;
        bottom: 0;
        opacity: 0;
        margin-left: 10%;
        margin-right: 10%;
    }

    .photo figcaption:hover {
        opacity: 0.85;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        cursor: help;
    }
}

figcaption h2 {
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

figcaption p {
    color: #2D2D2D;
    margin-top: 0;
    margin-bottom: 0;
}

/* Niveau 2 - Gabarit page Texte
   ========================================================================== */
.texte {
    background-image: url("../images/m22/iii-txt-m22.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    margin-top: 14rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

@media (min-width: 600px) {
    .texte {
        background-size: 80%;
        margin-top: 7rem;
    }
}
.texte__contenu blockquote p {
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40%;
    margin-bottom: 16rem;
    font-size: 1.7rem;
    color: #fff;
}

@media (min-width: 600px) {
    .texte__contenu blockquote p {
        margin-bottom: 10%;
        margin-left: 40%;
        margin-right: 15%;
        margin-top: 20%;
    }
}

.texte .rangee {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    padding: 0;
}

.texte__infos {
    color: aliceblue;
    background-color: rgba(136, 137, 136, 0.85);
    padding: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /*margin-top: %;*/
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .texte__infos {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.texte__infos h2 {
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}
.texte__infos p {
    color: #2D2D2D;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .texte__infos {
        bottom: 0;
        opacity: 0;
    }

    .texte__infos:hover {
        opacity: 0.85;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        cursor: help;
    }
}